<div id="services" class="section">
  <div class="fixed-wrapper"><h1>Languages</h1></div>
  <div class="container">
    <div class="content">
      <div class="row">
        <tbody>
          <% LANGUAGES['array'].each do |language| %>
          <tr>
            <td><h2><%= link_to "#{language}", language %></h2></td>
          </tr>
          <% end %>
        </tbody>
      </div>
      </div><!-- /.content -->
    </div>
  </div>
