@font-face {
  font-family: "League_Gothic";
  src: url('../fonts/leaguegothic-regular-webfont.eot');
  src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
    url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
    url('../fonts/leaguegothic-regular-webfont.svg#League_Gothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sofia_Pro_Light";
  src: url('../fonts/sofiaprolight-webfont.eot');
  src: url('../fonts/sofiaprolight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sofiaprolight-webfont.woff') format('woff'),
    url('../fonts/sofiaprolight-webfont.ttf') format('truetype'),
    url('../fonts/sofiaprolight-webfont.svg#Sofia_Pro_Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/fonts/icomoon.eot?vxtonx');
	src:url('../fonts/icomoon/fonts/icomoon.eot?#iefixvxtonx') format('embedded-opentype'),
		url('../fonts/icomoon/fonts/icomoon.woff?vxtonx') format('woff'),
		url('../fonts/icomoon/fonts/icomoon.ttf?vxtonx') format('truetype'),
		url('../fonts/icomoon/fonts/icomoon.svg?vxtonx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e60a";
}

.icon-arrow-up:before {
	content: "\e600";
}
.icon-arrow-down:before {
	content: "\e601";
}
.icon-arrow-up2:before {
	content: "\e602";
}
.icon-arrow-down2:before {
	content: "\e603";
}
.icon-arrow-up3:before {
	content: "\e604";
}
.icon-arrow-down3:before {
	content: "\e605";
}
.icon-mail:before {
	content: "\e606";
}
.icon-mail2:before {
	content: "\e607";
}
.icon-facebook:before {
	content: "\e608";
}
.icon-twitter:before {
	content: "\e609";
}

/* END FONT IMPORT */

body {
	font-family: "Sofia_Pro_Light";
	color: #070707;
	font-size: 1.125em;
}

h1 {
	font-family: "League_Gothic";
	color: #662B2B;
	font-size: 4.236rem;
	line-height: 1.1em;
	text-transform: uppercase;
}

h2 {
	color: #242F3A;
	font-size: 2.618em;
	text-transform: uppercase;
	letter-spacing: 0.5;
}

h3, h4 {
	font-size: 1.618em;
	color: #242F3A;
}

/* DECORATION */
a, a:visited, a:hover {
	text-decoration: none;
}

li {
	list-style: none;
}

/* PAGE STYLES */
header > h1 {
	font-size: 2.8em;
	padding: 0.2em 0;
	text-transform: uppercase;
	font-family: "League_Gothic";
	letter-spacing: 0.02em;
}

input[type="text"], textarea {
	font-family: "Sofia_Pro_Light";
	font-size: 1em;
}

.page-title {
	padding-bottom: 1em;

}

