<% @welcomeVote.each do |resource| %>
  <article class="excerpt">
  	<%= link_to resource_path(resource) do %>
    <h3 class="excerpt-title"><%= resource.name %></h3>
  	<% end %>
    <p class="excerpt-category"><%= resource.category.name %></p>
	</article>
<% end %>
