<%= content_for(:pagetitle, "Hello Internets") %>
<img src="http://fc00.deviantart.net/fs70/f/2011/158/1/6/nyan_cat_by_valcreon-d3iapfh.gif">
<p>Billy likes to drink soda, Miss Lippy's car is green. Where's my snack-pack! Mr. Madison, the Industrial Revolution changed the face of the modern novel forever. Well, Alright... I'll get you damn kids for this. You're all gonna die. You get your ass out there and you find that fucking dog! Knibb High football rules!
<br><br>
Oh, I'm sorry! Damn bus driver drives like an animal! Billy likes to drink soda, Miss Lippy's car is green. That Veronica Vaughn is one piece of ace. So what's it like, being back in school? 1st grade through 12th grade, all over again. He called the shit poop! Is he going to have a stupid party every time he passes a grade?
<br><br>
Hey look, Ernie peed his pants too. Alright! Judas Priest, Barbara, it's one of those flaming bags again. Live or stuffed, preferably stuffed for safety sake, and three, we bring back some of those ice cubes and switch it over to a pitching wedge It's poop again! Here's a nice piece of shit. Everybody on, good, great, grand, wonderful. This guy can stay in my room, I can tell you that much.
</div>
