<!-- Services Section -->
    <div id="services" class="section">
      <div class="fixed-wrapper"><h1>Services</h1></div>
      <div class="container">

        <div class="content">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="service block">
                <div class="icon-wrapper purple">
                  <span class="valign"></span>
                  <span class="circle"><i class="icon-resize-full"></i></span>
                </div>
                <h3>Explore Languages</h3>
                <p>Bolt is responsive meaning it looks great on all devices. </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="service block">
                <div class="icon-wrapper purple">
                  <span class="valign"></span>
                  <span class="circle"><i class="icon-rocket"></i></span>
                </div>
                <h3>Find the best resources</h3>
                <p>Bolt is speedy and quick to load so users don't get bored. </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="service block">
                <div class="icon-wrapper purple">
                  <span class="valign"></span>
                  <span class="circle"><i class="icon-gear"></i></span>
                </div>
                <h3>Get Better GUARANTEED</h3>
                <p>Bolt has well defined sections so you can mix and match. </p>
              </div>
            </div>
          </div>

        </div><!-- /.content -->
      </div>
    </div>
