// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resource-comments {
	padding: 1em 3em;
	background-color: darken(#E5E5E5, 10%);
	font-size: 0.8em;
}

.resource-comments textarea {
	width: 100%;
	border: none;
}

.comment {
	padding: 1em 0;
	border-top: solid 1px #E5E5E5;
}
