<%= content_for(:pagetitle, generate_title) %>


  <% @resources.each do |resource| %>
	  <article class="resource-post excerpt">
	    <section class="large-10 medium-10 small-10 columns">
	    	<%= link_to resource_path(resource) do %>
		    <h3 class="excerpt-title"><%= resource.name %></h3>
		    <% end %>
		    <p class="excerpt-category"><%= resource.category.name %></p>
	  	</section>
	  	<section class="vote large-2 medium-2 small-2 columns">
	  		<%= link_to upvote_url(id: resource.id), :remote => :true do %>
	          <p class="glyphicon glyphicon-arrow-up<%= ' upVote' if (current_user && current_user.voted_for?(resource)) %>" id="arrow_resource_<%= resource.id %>">TEST</p>
	      <% end %>
		    <p id="votes_resource_<%= resource.id %>"><%= resource.votes.size %></p>
	  	</section>
	  </article>
  <% end %>

