<%= content_for(:pagetitle, "Top #{@language.name || @category.name} Resources") %>

<div class="list-group">
  <% @resources.each do |resource| %>
  <div class="post">
    <%= link_to resource_path(resource), :class => "list-group-item" do %>
    <span class="glyphicon glyphicon-arrow-up"><%#= resource.liked_by current_user %></span>
    <span class="badge admin-category-badge"><%= resource.category.name %></span>
    <h3 class="list-group-item-heading"><%= resource.name %></h3>
    <% end %>
  </div>
  <% end %>
</div>
