html,body {
font-family:Montserrat,Arial,Helvetica,sans-serif;
background-color:#eeeeee
}

html {
background-color:#252733;
}

body {
color:#3e4258;
margin-left:250px;
}

.clearfix {
clear:both;
}

.affix {
top:1px;
left:250px;
right:0;
z-index:10;
position:fixed;
}

.affix-bottom {
position:absolute;
z-index:1000;
width:100%;
}

ul {
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0
padding-top: 0;
padding-bottom: 0;
padding-left: 0;
padding-right: 0
}

ul li {
list-style:none;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
font-family:Montserrat,Arial,Helvetica,sans-serif;
}

h1 {
display:inline-block;
font-size:36px;
}

h1:hover {
border-color:#72a329;
}

h3 {
margin:0 0 15px;
letter-spacing:.5px;
}

hr {
border-color:#999999
margin-top: 10px;
margin-bottom: 10px;
margin-left: 0;
margin-right: 0;
}

a {
color:#3e4258;
-webkit-transition:color .3s;
transition:color .3s;
}

a:hover,a:focus {
color:#1d2031;
text-decoration:none;
}

p {
color:#9295a7;
}

.italic {
font-style:italic;
}

img.horizontal {
height:100%;
}

.arrow-left {
width:0;
height:0;
border-top:10px solid transparent;
border-bottom:10px solid transparent;
border-right:10px solid #eeeeee
}

span.valign {
display:inline-block;
height:100%;
vertical-align:middle;
}

.tooltip.top {
margin-top:-5px;
}

#services .tooltip.top {
margin-top:-10px;
}

.alert {
position:relative;
height:60px;
padding-top: 0;
padding-bottom: 0;
padding-left: 0;
padding-right: 0
background-color:#dddddd
border-top: 0;
border-bottom: 0;
border-left: 0;
border-right: 0;
-webkit-border-top-left-radius:0;
-webkit-border-top-right-radius:0;
-webkit-border-bottom-right-radius:0;
-webkit-border-bottom-left-radius:0;
-moz-border-top-left-radius:0;
-moz-border-top-right-radius:0;
-moz-border-bottom-right-radius:0;
-moz-border-bottom-left-radius:0;
border-top-left-radius:0;
border-top-right-radius:0;
border-bottom-right-radius:0;
border-bottom-left-radius:0;
}

.alert .close {
top:0;
right:0;
position:absolute;
padding-top: 0;
padding-bottom: 0;
padding-left: 20px;
padding-right: 20px;
line-height:60px;
}

.alert h3 {
float:left;
padding-top: 0;
padding-bottom: 0;
padding-left: 20px;
padding-right: 20px;
line-height:60px;
}

.alert p {
line-height:60px;
}

.alert.alert-color p {
color:#f0f0f0;
}

.alert.alert-warning {
background-color:#ffb236;
}

.alert.alert-error {
background-color:#f64646;
}

.alert.alert-info {
background-color:#43a7ea;
}

.alert.alert-success {
background-color:#97d040;
}

.panel-group .panel {
border-top: 0;
border-bottom: 0;
border-left: 0;
border-right: 0;
padding-bottom:10px;
-webkit-box-shadow:none;
box-shadow:none;
background-color:transparent;
}

.panel .panel-heading {
position:relative;
line-height:60px;
background-color:#ffffff
-webkit-transition:.3s;
transition:.3s;
}

.panel .panel-heading.active {
border-color:#f4d432;
}

.panel .panel-heading i {
top:0;
right:20px;
font-size:18px;
line-height:70px;
position:absolute;
color:#85889c;
}

.panel .panel-heading i.icon-minus {
display:none;
color:#3e4258;
}

.panel .panel-heading.active i.icon-minus {
display:block;
}

.panel .panel-heading.active i.icon-plus {
display:none;
}

.panel .panel-heading .panel-title {
font-size:23px;
color:#85889c;
line-height:50px;
}

.panel-group .panel-heading+.panel-collapse .panel-body {
border-top:0;
background-color:#eeeeee
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px
color:#9295a7;
line-height:26px;
}

.btn {
position:relative;
font-size:14px;
line-height:20px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px
margin:0 0 20px;
text-shadow:none;
-webkit-box-shadow:none;
background-color: none;
border-top: 0;
border-bottom: 0;
border-left: 0;
border-right: 0;
color:#ffffff
background-color:#3e4258;
-webkit-border-top-left-radius:3px;
-webkit-border-top-right-radius:3px;
-webkit-border-bottom-right-radius:3px;
-webkit-border-bottom-left-radius:3px;
-moz-border-top-left-radius:3px;
-moz-border-top-right-radius:3px;
-moz-border-bottom-right-radius:3px;
-moz-border-bottom-left-radius:3px;
border-top-left-radius:3px;
border-top-right-radius:3px;
border-bottom-right-radius:3px;
border-bottom-left-radius:3px;
box-shadow:0 2px 0 0 #1d2031;
-webkit-transition:.3s;
transition:.3s;
}

.btn:hover {
background-color:#3e4258;
color:#ffffff
}

.btn:active {
top:2px;
}

.btn.active {
background-color:rgba(0,0,0,.1);
border-color:#ffffff
color:#ffffff
}

.btn:focus {
color:#ffffff
outline:none;
}

.btn i {
margin-right:10px;
}

.btn.btn-large {
padding-top: 0;
padding-bottom: 0;
padding-left: 25px;
padding-right: 25px;
height:70px;
line-height:70px;
font-size:20px;
box-shadow:0 4px 0 0 #1d2031;
}

.btn.btn-large i {
margin-right:25px;
}

.btn.btn-large:active {
box-shadow:0 0 0 0 #1d2031;
}

.container {
max-width:1050px;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 30px;
padding-right: 30px
margin-top: 100px;
margin-bottom: 100px;
margin-left: 0;
margin-right: 0;
}

.block {
background-color:#ffffff
-webkit-border-top-left-radius:4px;
-webkit-border-top-right-radius:4px;
-webkit-border-bottom-right-radius:4px;
-webkit-border-bottom-left-radius:4px;
-moz-border-top-left-radius:4px;
-moz-border-top-right-radius:4px;
-moz-border-bottom-right-radius:4px;
-moz-border-bottom-left-radius:4px;
border-top-left-radius:4px;
border-top-right-radius:4px;
border-bottom-right-radius:4px;
border-bottom-left-radius:4px;
box-shadow:0 2px 2px 0 rgba(0,0,0,.07);
}

.#0000FF {
background-color:#3892ea;
}

.#800080 {
background-color:#6d7cd4;
}

.icon-wrapper {
display:block;
width:100%;
height:100px;
text-align:center;
-webkit-border-radius:4px 4px 0 0;
-moz-border-radius:4px 4px 0 0;
border-radius:4px 4px 0 0;
}

.icon-wrapper span.circle {
position:relative;
top:6px;
display:inline-block;
width:60px;
height:60px;
-webkit-border-radius:50%;
-moz-border-radius:50%;
border-radius:50%;
-webkit-transition:background-color .3s;
transition:background-color .3s;
}

.icon-wrapper i {
color:#ffffff
display:inline-block;
font-size:30px;
line-height:60px;
-webkit-transition:color .3s;
transition:color .3s;
}

form {
position:relative;
float:right;
width:100%;
}

.search.start-top {
position:fixed;
top:0;
right:0;
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
filter:alpha(opacity=1);
opacity:1;
}

.search form {
width:auto;
}

.search i {
font-size:30px;
line-height:100px;
float:left;
color:#3e4258;
}

.search input,.search textarea,.search input.form-control,.search textarea.form-control,.search input.form-control:focus,.search textarea.form-control:focus {
width:0;
padding-top: 0;
padding-bottom: 0;
padding-left: 0;
padding-right: 0
height:40px;
line-height:20px;
font-size:20px;
margin:30px 10px 30px 0;
-webkit-transition:width .3s;
transition:width .3s;
background-color:#f0f0f0;
box-shadow:none;
}

.search:hover input,.search:hover textarea,.search:hover input.form-control,.search:hover textarea.form-control,.search:hover input.form-control:focus,.search:hover textarea.form-control:focus {
width:200px;
margin-left:20px;
padding-top: 0;
padding-bottom: 0;
padding-left: 15px;
padding-right: 15px;
}

form .btn {
float:left;
margin:0 0 0 10%;
}

.form-group {
width:100%;
margin:0 0 20px;
}

.form-group label {
float:right;
width:10%;
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0
}

.form-group label i {
font-size:28px;
line-height:50px;
-webkit-transition:color .3s;
transition:color .3s;
}

.form-group.textarea {
border-top: 0;
border-bottom: 0;
border-left: 0;
border-right: 0;
}

.form-group.textarea label {
height:200px;
}

.form-group input,.form-group textarea {
float:right;
width:87%;
margin-right:3%;
}

input,textarea,input.form-control,textarea.form-control,input.form-control:focus,textarea.form-control:focus {
color:#444444
font-size:16px;
height:50px;
outline:none;
-webkit-box-shadow:0 2px 1px 0 rgba(0,0,0,.05);
box-shadow:0 2px 1px 0 rgba(0,0,0,.05);
border-top: 0;
border-bottom: 0;
border-left: 0;
border-right: 0;
padding:0 0 0 15px;
-webkit-border-top-left-radius:4px;
-webkit-border-top-right-radius:4px;
-webkit-border-bottom-right-radius:4px;
-webkit-border-bottom-left-radius:4px;
-moz-border-top-left-radius:4px;
-moz-border-top-right-radius:4px;
-moz-border-bottom-right-radius:4px;
-moz-border-bottom-left-radius:4px;
border-top-left-radius:4px;
border-top-right-radius:4px;
border-bottom-right-radius:4px;
border-bottom-left-radius:4px;
}

textarea.form-control,textarea.form-control:focus {
height:200px;
resize:none;
padding-top:18px;
}

label {
font-weight:400;
}

.form-control:focus {
-webkit-box-shadow:none;
box-shadow:none;
border-color:#777777
}

.modal .wrapper {
margin:3% auto;
width:auto;
max-width:70%;
max-height:85%;
-webkit-box-shadow:0 5px 30px rgba(0,0,0,.2);
box-shadow:0 5px 30px rgba(0,0,0,.2);
background-color:#dddddd
}

.modal img {
margin-top: 0;
margin-bottom: 0;
margin-left: auto;
margin-right: auto;
max-width:100%;
max-height:100%;
}

.modal h2 {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
color:#ffffff
background-color:#ffffff
}

.navbar {
overflow:hidden;
width:250px;
background-color:transparent;
border-top-style: n;
border-top-color: e;
border-top-width: no;
border-bottom-style: n;
border-bottom-color: e;
border-bottom-width: no;
border-left-style: n;
border-left-color: e;
border-left-width: no;
border-right-style: n;
border-right-color: e;
border-right-width: no;
margin:0 0 80px;
-webkit-border-top-left-radius:0;
-webkit-border-top-right-radius:0;
-webkit-border-bottom-right-radius:0;
-webkit-border-bottom-left-radius:0;
-moz-border-top-left-radius:0;
-moz-border-top-right-radius:0;
-moz-border-bottom-right-radius:0;
-moz-border-bottom-left-radius:0;
border-top-left-radius:0;
border-top-right-radius:0;
border-bottom-right-radius:0;
border-bottom-left-radius:0;
}

.navbar .navbar-header {
position:relative;
overflow:hidden;
width:100%;
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0
}

.navbar .navbar-header i {
text-align:right;
width:50px;
font-size:30px;
margin:15px 0 20px 15px;
-webkit-transition:color .3s;
transition:color .3s;
}

.navbar .navbar-header .dropdown {
float:right;
}

.navbar .navbar-header .dropdown-menu {
right:0;
left:auto;
-webkit-border-top-left-radius:0;
-webkit-border-top-right-radius:0;
-webkit-border-bottom-right-radius:0;
-webkit-border-bottom-left-radius:0;
-moz-border-top-left-radius:0;
-moz-border-top-right-radius:0;
-moz-border-bottom-right-radius:0;
-moz-border-bottom-left-radius:0;
border-top-left-radius:0;
border-top-right-radius:0;
border-bottom-right-radius:0;
border-bottom-left-radius:0;
box-shadow:none;
border-top: 0;
border-bottom: 0;
border-left: 0;
border-right: 0;
padding-top: 0;
padding-bottom: 0;
padding-left: 0;
padding-right: 0
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0
background-color:#444444
}

.navbar .navbar-header a.active i {
color:#f4d432;
}

.navbar .navbar-header span.glyphicon {
font-size:40px;
}

.navbar span.glyphicon,.navbar i {
font-size:13px;
margin-right:15px;
}

.navbar i {
font-size:15px;
}

.navbar a.navbar-brand {
text-align:center;
color:#ffffff
font-weight:700;
font-size:30px;
width:250px;
height:100px;
line-height:100px;
padding-top: 0;
padding-bottom: 0;
padding-left: 0;
padding-right: 0
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0
-webkit-transition:.3s;
transition:.3s;
background-color:#393e5a;
}

.navbar a.navbar-brand:hover {
background-color:#30344d;
}

.navbar a.navbar-brand i {
text-align:center;
float:left;
width:50px;
line-height:100px;
font-size:48px;
margin:0 10px 0 20px;
}

.navbar span.tagline {
float:left;
margin:40px 0 0 10px;
color:#777777
}

.search {
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
filter:alpha(opacity=0);
opacity:0;
-webkit-transition:.5s;
transition:.5s;
position:absolute;
z-index:10;
padding-top: 0;
padding-bottom: 0;
padding-left: 20px;
padding-right: 20px;
color:#666666
height:100px;
}

.search.affix {
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
filter:alpha(opacity=1);
opacity:1;
position:fixed;
top:0;
left:auto;
}

.navbar .navbar-toggle {
outline:none;
border-color:transparent;
margin:20px 0 0;
padding-top: 0;
padding-bottom: 0;
padding-left: 0;
padding-right: 0
}

.navbar .navbar-toggle:active,.navbar .navbar-toggle:visited,.navbar .navbar-toggle:focus,.navbar .navbar-toggle:hover {
background-color:transparent;
}

.navbar .navbar-toggle span.icon-bar {
background-color:#f0f0f0;
height:3px;
margin-top: 4px;
margin-bottom: 4px;
margin-left: 0;
margin-right: 0;
}

.navbar .navbar-toggle:hover span.icon-bar {
background-color:#bbbbbb
}

.navbar .navbar-collapse {
border-color:#999999
max-height:400px;
}

.navbar-collapse {
border-top-style: n;
border-top-color: e;
border-top-width: no;
border-bottom-style: n;
border-bottom-color: e;
border-bottom-width: no;
border-left-style: n;
border-left-color: e;
border-left-width: no;
border-right-style: n;
border-right-color: e;
border-right-width: no;
padding-top: 0;
padding-bottom: 0;
padding-left: 0;
padding-right: 0
height:100%;
}

.navbar .navbar-nav {
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0
width:100%;
background-color:#252733;
}

.navbar .navbar-nav li {
height:60px;
width:100%;
clear:both;
}

.navbar .navbar-nav li a {
display:block;
font-weight:700;
letter-spacing:.5px;
line-height:60px;
padding-top: 0;
padding-bottom: 0;
padding-left: 0;
padding-right: 0
color:#999999
-webkit-transition:.3s;
transition:.3s;
}

.navbar .navbar-nav li a:hover {
color:#eeeeee
background-color:rgba(0,0,0,.2);
}

.navbar .navbar-nav li a.active,.navbar .navbar-nav li.active a {
color:#ffffff
background-color:#191b24;
}

.navbar .navbar-nav li a span.arrow-left {
float:right;
margin-top:20px;
margin-right:-20px;
-webkit-transition:margin-right .55s ease-in;
transition:margin-right .55s ease-in;
}

.navbar .navbar-nav li a.active span.arrow-left,.navbar .navbar-nav li.active a span.arrow-left {
margin-right:0;
}

.navbar .navbar-nav li i {
float:left;
text-align:center;
width:50px;
line-height:60px;
font-size:20px;
margin:0 10px 0 20px;
}

.section {
position:relative;
z-index:1;
}

.section .fixed-wrapper {
height:100px;
display:block;
}

.section .fixed-wrapper h1 {
display:block;
font-size:40px;
padding-top: 0;
padding-bottom: 0;
padding-left: 30px;
padding-right: 30px;
line-height:99px;
background-color:#ffffff
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0
box-shadow:0 -1px 0 0 #fff,0 1px 2px 0 rgba(0,0,0,.1);
}

.section:last-child {
background-color:#ffffff
}

.section .content.affix {
width:90%;
}

#home .container {
margin:0 0 100px;
}

.carousel {
z-index:9;
-webkit-border-radius:0 0 4px 4px;
-moz-border-radius:0 0 4px 4px;
border-radius:0 0 4px 4px;
box-shadow:0 0 1px 0 rgba(0,0,0,.1),0 2px 0 0 rgba(0,0,0,.05);
}

.carousel-indicators {
bottom:200px;
}

.carousel .item {
height:600px;
}

.carousel .item .image-wrapper {
position:relative;
display:block;
height:400px;
}

.carousel .item .carousel-caption {
top:0;
left:0;
right:0;
background-color:#ffffff
position:relative;
display:block;
height:200px;
text-shadow:none;
-webkit-border-radius:0 0 4px 4px;
-moz-border-radius:0 0 4px 4px;
border-radius:0 0 4px 4px;
}

.carousel-caption p {
padding-top: 20px;
padding-bottom: 20px;
padding-left: 30px;
padding-right: 30px;
line-height:30px;
}

.carousel-control {
z-index:10;
height:400px;
-webkit-border-radius:4px 4px 0 0;
-moz-border-radius:4px 4px 0 0;
border-radius:4px 4px 0 0;
}

.carousel-control.right,.carousel-control.left {
background-image:none;
}

.carousel-control i {
font-size:44px;
line-height:400px;
}

#services {
color:#444444
min-height:0;
position:relative;
overflow:hidden;
}

.service:hover .icon-wrapper .circle {
background-color:#ffffff
box-shadow:0 1px 2px 0 rgba(0,0,0,.3);
}

.service h3 {
padding-top: 25px;
padding-bottom: 25px;
padding-left: 30px;
padding-right: 30px;
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0
}

.service p {
text-align:left;
padding:0 30px 20px;
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0
}

#services h3 {
font-size:20px;
}

#services p {
line-height:25px;
}

#services .service-icon {
text-align:center;
color:#ffffff
}

#services .service-icon i:hover {
background-color:#edc80e;
color:#ffffff
}

#services .service-icon i {
margin-top: 0;
margin-bottom: 0;
margin-left: auto;
margin-right: auto;
color:rgba(255,255,255,.7);
font-size:40px;
display:block;
height:100px;
width:100px;
padding-top:25px;
border-top-style: solid;
border-top-color: rgba;
border-top-width: 4px;
border-bottom-style: solid;
border-bottom-color: rgba;
border-bottom-width: 4px;
border-left-style: solid;
border-left-color: rgba;
border-left-width: 4px;
border-right-style: solid;
border-right-color: rgba;
border-right-width: 4px;
-webkit-border-radius:50%;
-moz-border-radius:50%;
border-radius:50%;
-webkit-transition:background-color .3s;
transition:background-color .3s;
}

#services .service-icon span {
display:block;
margin-top:20px;
}

.controls {
margin-bottom:20px;
text-align:justify;
-ms-text-justify:distribute-all-lines;
text-justify:distribute-all-lines;
}

.controls .filter {
display:inline-block;
position:relative;
font-size:30px;
}

.controls .filter.active {
color:#ecc600;
}

.stretch {
width:100%;
display:inline-block;
font-size:0;
line-height:0;
}

.gallery {
overflow:hidden;
}

.gallery:after {
content:'';
display:inline-block;
width:100%;
}

.gallery .mix {
overflow:hidden;
display:none;
opacity:0;
vertical-align:top;
margin:0 0 30px;
color:#ffffff
font-size:30px;
text-align:center;
}

.gallery .mix.full {
height:auto;
}

.gallery a.mix-cover,.gallery span.cover {
overflow:hidden;
display:block;
width:100%;
height:300px;
-webkit-border-radius:4px 4px 0 0;
-moz-border-radius:4px 4px 0 0;
border-radius:4px 4px 0 0;
background-color:#ffffff
}

.gallery .mix a img,.gallery .mix a span.overlay {
-webkit-border-radius:4px 4px 0 0;
-moz-border-radius:4px 4px 0 0;
border-radius:4px 4px 0 0;
box-shadow:0 0 1px 0 rgba(0,0,0,.1);
}

.gallery a.mix-cover {
position:relative;
-webkit-transition:top .5s;
transition:top .5s;
}

.gallery span.cover {
position:absolute;
top:-100%;
background-color:#f4d432;
}

.gallery span.cover span {
color:#ffffff
position:absolute;
height:50px;
top:50%;
left:0;
right:0;
margin-top:-25px;
line-height:50px;
}

img.placeholder {
width:100%;
height:100%;
}

.modal-content {
-webkit-border-top-left-radius:0;
-webkit-border-top-right-radius:0;
-webkit-border-bottom-right-radius:0;
-webkit-border-bottom-left-radius:0;
-moz-border-top-left-radius:0;
-moz-border-top-right-radius:0;
-moz-border-bottom-right-radius:0;
-moz-border-bottom-left-radius:0;
border-top-left-radius:0;
border-top-right-radius:0;
border-bottom-right-radius:0;
border-bottom-left-radius:0;
border-top: 0;
border-bottom: 0;
border-left: 0;
border-right: 0;
}

.masonry-grid .item {
opacity:0;
-webkit-transition:opacity .3s;
transition:opacity .3s;
margin-bottom:30px;
}

.masonry-grid .item .image {
display:block;
width:100%;
height:100%;
text-align:center;
position:relative;
}

.masonry-grid .item .image img {
width:100%;
-webkit-border-radius:4px 4px 0 0;
-moz-border-radius:4px 4px 0 0;
border-radius:4px 4px 0 0;
}

.masonry-grid .item .description {
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px
}

.masonry-grid .item .description h2 {
margin:0 0 15px;
}

.overlay {
position:absolute;
z-index:9;
left:0;
top:0;
bottom:0;
right:0;
text-align:center;
background-color:rgba(118,131,198,.8);
border-top-style: solid;
border-top-color: rgba;
border-top-width: 0;
border-bottom-style: solid;
border-bottom-color: rgba;
border-bottom-width: 0;
border-left-style: solid;
border-left-color: rgba;
border-left-width: 0;
border-right-style: solid;
border-right-color: rgba;
border-right-width: 0;
-webkit-transition:.3s;
transition:.3s;
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
filter:alpha(opacity=0);
opacity:0;
}

.overlay:hover {
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
filter:alpha(opacity=1);
opacity:1;
}

.overlay i,.overlay span.title {
color:#ffffff
font-size:40px;
position:relative;
top:-60px;
-webkit-transition:.3s;
transition:.3s;
}

.overlay span.title {
font-size:30px;
}

.overlay:hover i,.overlay:hover span.title {
top:10px;
}

.pricing .wrapper h3 i {
margin-right:20px;
}

.pricing .wrapper {
position:relative;
background-color:#fdfdfd;
-webkit-transition:.5s;
transition:.5s;
}

.pricing h3,.pricing h2,.pricing .table td {
-webkit-transition:.2s;
transition:.2s;
}

.pricing h3 {
padding-top: 30px;
padding-bottom: 30px;
padding-left: 10px;
padding-right: 10px;
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0
color:#3e4258;
font-size:23px;
}

.pricing .wrapper th {
padding-top: 0;
padding-bottom: 0;
padding-left: 0;
padding-right: 0
}

.pricing span.price {
display:block;
color:#3e4258;
width:100%;
height:100px;
line-height:100px;
font-size:44px;
background-color:#f6f6f6;
margin-top: 0;
margin-bottom: 0;
margin-left: auto;
margin-right: auto;
-webkit-transition:backgroud-color .25s;
transition:backgroud-color .25s;
}

.pricing span.price i {
position:relative;
top:4px;
margin-right:10px;
}

.table .btn {
margin-top:15px;
}

.table caption {
margin-top: 20px;
margin-bottom: 20px;
margin-left: 0;
margin-right: 0;
}

.table thead tr th {
font-weight:400;
color:#8bc534;
display:block;
font-size:30px;
line-height:40px;
text-align:center;
margin-bottom:10px;
border-top: 0;
border-bottom: 0;
border-left: 0;
border-right: 0;
}

.pricing .table td {
border-top: 0;
border-bottom: 0;
border-left: 0;
border-right: 0;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 0;
padding-right: 0;
text-align:center;
}

#team .title {
padding-top: 30px;
padding-bottom: 30px;
padding-left: 0;
padding-right: 0;
}

#team .title h2 {
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0
padding-top: 0;
padding-bottom: 0;
padding-left: 10px;
padding-right: 10px;
line-height:36px;
}

#team .title h3 {
color:#9295a7;
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0
padding-top: 0;
padding-bottom: 0;
padding-left: 10px;
padding-right: 10px;
font-size:14px;
line-height:16px;
}

#team .btn {
margin:5px 10px 0 0;
}

#team p {
padding-top: 0;
padding-bottom: 0;
padding-left: 30px;
padding-right: 30px;
font-size:13px;
margin-bottom:15px;
line-height:30px;
text-align:left;
}

.portrait {
position:relative;
margin-bottom:20px;
padding-top: 0;
padding-bottom: 0;
padding-left: 0;
padding-right: 0
width:100%;
height:200px;
overflow:hidden;
-webkit-transition:border-color .5s;
transition:border-color .5s;
}

.team .row [class*=col-]:hover .portrait {
border-color:#ffffff
}

.social-media {
padding-top: 0;
padding-bottom: 0;
padding-left: 30px;
padding-right: 30px;
color:#ffffff
width:100%;
text-align:justify;
-ms-text-justify:distribute-all-lines;
text-justify:distribute-all-lines;
}

.social-media a {
display:inline-block;
font-size:20px;
}

.social-media a i {
-webkit-transition:.3s;
transition:.3s;
}

.social-media a:hover i {
color:#444444
}

#contact h1 {
margin-bottom:50px;
}

#footer {
text-align:center;
padding-top:50px;
overflow:hidden;
position:relative;
z-index:1;
}

#footer h3 {
margin-top:10px;
line-height:20px;
font-size:24px;
}

#footer li {
float:left;
clear:both;
list-style:none;
line-height:25px;
margin-bottom:5px;
}

#footer li a {
color:#777777
}

#footer li a:hover {
color:#d2b834;
}

#footer p {
line-height:25px;
margin:50px 0 30px;
}

#footer .social-media a {
color:#444444
margin:0 10px 10px 0;
text-align:center;
}

#footer hr {
border-color:#999999
margin-top: 0;
margin-bottom: 0;
margin-left: auto;
margin-right: auto;
}

#footer.blog {
text-align:left;
}

#footer.blog p {
margin:0 0 55px;
}

#footer.blog .social-media {
text-align:left;
margin-left:-10px;
}

.affix-top,.section .fixed-wrapper h1.affix-top {
margin-top:1px;
}

img.vertical,.fixed-container.full .content.affix,.carousel .item img,.gallery .mix.full img,.portrait img {
width:100%;
}

.alert.alert-color,.alert.alert-color h3 {
color:#ffffff
}

.panel .panel-heading.active .panel-title,.panel .panel-heading .panel-title a:hover,.section h1,.section h2,.section h3,.section h4,.section h5,.section h6,.section .h1,.section .h2,.section .h3,.section .h4,.section .h5,.section .h6,.service:hover .icon-wrapper i {
color:#3e4258;
}

.row.last,.row .empty[class^=col-md-],.table {
margin-bottom:0;
}

.carousel-inner,.masonry-grid .item .image .overlay {
-webkit-border-radius:4px 4px 0 0;
-moz-border-radius:4px 4px 0 0;
border-radius:4px 4px 0 0;
}

.gallery.portfolio a.mix-cover,.gallery.portfolio a.mix-cover .overlay,.pricing .wrapper .overlay {
-webkit-border-top-left-radius:4px;
-webkit-border-top-right-radius:4px;
-webkit-border-bottom-right-radius:4px;
-webkit-border-bottom-left-radius:4px;
-moz-border-top-left-radius:4px;
-moz-border-top-right-radius:4px;
-moz-border-bottom-right-radius:4px;
-moz-border-bottom-left-radius:4px;
border-top-left-radius:4px;
border-top-right-radius:4px;
border-bottom-right-radius:4px;
border-bottom-left-radius:4px;
}

#team .team-portrait,#contact form .form-group label {
text-align:center;
}

#contact .content,#footer .row {
margin:0 10%;
}

#footer .container,#footer.blog .row {
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0
}

@media max-width 992px {
.affix {
top:auto;
position:static;
}

.affix-bottom {
position:relative;
}

.panel-group {
margin-bottom:25px;
}

.container,#home.section .container {
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0
padding-bottom:0;
}

body {
margin-left:0;
margin-top:50px;
}

.search {
width:100%;
background-color:#ffffff
padding-top: 0;
padding-bottom: 0;
padding-left: 30px;
padding-right: 30px;
box-shadow:0 2px 2px 0 rgba(0,0,0,.07);
}

.search.affix {
top:50px;
height:50px;
}

.search form {
width:85%;
}

.search input,.search textarea,.search input.form-control,.search textarea.form-control,.search input.form-control:focus,.search textarea.form-control:focus {
height:30px;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 0;
margin-right: 0;
width:100%;
background-color:#ffffff
}

.search:hover input,.search:hover textarea,.search:hover input.form-control,.search:hover textarea.form-control,.search:hover input.form-control:focus,.search:hover textarea.form-control:focus {
width:100%;
padding-top: 0;
padding-bottom: 0;
padding-left: 0;
padding-right: 0
}

#navbar {
width:100%;
overflow:auto;
}

#navbar .navbar-header {
background-color:#393e5a;
height:50px;
}

#navbar .navbar-toggle {
margin:12px 30px 0 0;
}

#navbar .navbar-brand i {
width:30px;
font-size:30px;
margin:0 10px 0 30px;
}

#navbar .fixed-wrapper {
height:50px;
}

.navbar .navbar-nav li a {
padding-top: 0;
padding-bottom: 0;
padding-left: 15px;
padding-right: 15px;
}

.navbar .navbar-nav li a span.arrow-left {
display:none;
margin-right:0;
}

.navbar a.navbar-brand {
height:50px;
padding-right:5px;
}

.navbar .navbar-collapse.collapse {
display:none;
}

.section .fixed-wrapper h1.affix {
top:0;
left:0;
}

.section .row [class*=col-] {
margin-bottom:30px;
}

.carousel {
margin-bottom:30px;
height:auto;
}

.carousel-control.right,.carousel-control.left,.carousel-control.right i,.carousel-control.left i {
height:100px;
line-height:100px;
}

.search i,#navbar .navbar-brand,#navbar .navbar-brand i {
line-height:50px;
}

.carousel .item,.carousel .item .image-wrapper,.portrait {
height:auto;
}
}

@media max-width 767px {
.modal {
overflow-y:hidden;
}

.modal .wrapper {
max-width:94%;
}

.section .content {
text-align:center;
}

img.background {
background-attachment:scroll;
position:absolute;
}
}

@media max-width 600px {
.navbar {
margin-bottom:40px;
}

.navbar span.tagline {
clear:both;
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0
}

.navbar .arrow-up {
border-left:30px solid transparent;
border-bottom:40px solid #444444
}

.navbar .navbar-header i {
font-size:26px;
width:30px;
}

.navbar .dropdown,.navbar #search {
margin-top:-20px;
}

.navbar .dropdown li {
clear:both;
}

#contact form .form-group label {
width:15%;
}

#contact form .form-group input,#contact form .form-group textarea {
width:82%;
margin-right:3%;
}

#contact form .btn {
width:82%;
margin-left:15%;
}

#contact .content,#footer .row {
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0
}
}

@media max-width 420px {
img.background {
height:100%;
}

.section {
height:auto;
}

.section h1 {
font-size:30px;
margin:18px 0 35px;
}

span.logo.glyphicon {
margin-top:20px;
}
}

@media max-width 768px {
#services .row [class*=col-] {
margin-bottom:30px;
}

.controls .filter {
float:left;
clear:both;
}

.gallery a.mix-cover:hover {
top:0;
}

.gallery span.cover {
height:50px;
top:auto;
bottom:0;
z-index:100;
}

.gallery span.cover h2 {
font-size:24px;
}

.gallery img,.gallery .mix {
height:auto;
font-size:0;
line-height:0;
}

.gallery .icons img {
margin-top: 50px;
margin-bottom: 50px;
margin-left: 0;
margin-right: 0;
}

.gallery .mix {
margin:0 0 2px;
}

.pricing .wrapper:hover {
margin-top:0;
-webkit-box-shadow:none;
box-shadow:none;
}
}

@media min-width 768px and max-width 992px {
.team .social-media a {
height:30px;
width:30px;
font-size:15px;
padding-top:3px;
}
}
