<header>
  <!--this is the logo-->
  <h1><%= link_to "Code Union", root_path %></h1>

  <!--this is the + resource button-->
  <nav>
    <%= link_to '+ Resource', new_resource_path %>
  </nav>
</header>
